@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full w-full overflow-hidden;
    -webkit-tap-highlight-color: transparent;
  }
  
  body {
    @apply h-full w-full overflow-hidden overscroll-none bg-primary-pink;
    /* Mobil tarayıcılarda lastik etkisi (bounce) engelleme */
    user-select: none; /* Metin seçimini engelle (App hissi) */
    -webkit-user-select: none;
  }
  
  #root {
    @apply h-full w-full flex flex-col;
  }

  /* Inputlara zoom yapılmasını engellemek için base font size ayarı */
  input, select, textarea {
    @apply text-base; 
    user-select: text;
    -webkit-user-select: text;
  }
}

@layer utilities {
  .h-dvh {
    height: 100dvh; /* Dynamic Viewport Height */
  }
  
  /* Scrollbar gizleme */
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
  .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }

  /* iPhone Safe Areas */
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .mb-safe {
    margin-bottom: env(safe-area-inset-bottom);
  }
}
